node_modules
.next
.vercel
.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
README.md
.env*.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
data.db
data.db-shm
data.db-wal
db_backup.sql
db_inserts.sql
db_inserts_clean.sql
db_simple.sql
nginx
certbot
deploy.sh
